.btn {
    border: 0;
    border-radius: 5px;
}

.btn img {
    width: 15px;
}

.btn-red {
    background-color: red;
}

.btn-green {
    background-color: green;
}

.btn-yellow {
    background-color: yellow;
}

.btn-small {
    padding: 5px;
}

.btn-mid {
    padding: 5px;
    font-size: 120%;
}

.btn-large {
    padding: 5px;
    font-size: 150%;
}